@model IEnumerable<Queue.Models.QueryView>

<table class="table" style="width:20%">
    <tr>
        <th colspan="4">Ваши запросы:</th>
    </tr>
    <tr>
        <th></th>
        <th>Название</th>
        <th>По очереди</th>
        <th>Вне очереди</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink("Отписаться", "CancelHandle", "Expert", new  {QID = item.ID },null)</td>
            <td>@item.NameQuery</td>
            <td>@item.QueueCount</td>
            <td>@item.SubQueueCount</td>
            <td>@Html.ActionLink("Принять клиента", "AdoptClient", "Expert", new  {QID = item.ID },null)</td>            
        </tr>
    }
</table>

