@model Queue.Models.EditModel
@{
    ViewBag.Title = "Index";
}

<h1>E-mail : @Html.Name(Model.Email)</h1>

<h2>Ваше имя : @Html.Name(Model.Name)</h2>

<h2>Ваша фамилия : @Html.Name(Model.LastName)</h2>

<h2>Забанены? : @Html.Name(Model.isBaned.ToString())</h2>

<div class="form-group">
    <div class="col-md-2 control-label">
        @Html.ActionLink("Edit", "Edit", "Manage")
    </div>
    <div class="col-md-2 control-label">
        @Html.ActionLink("Delete", "Delete", "Manage")
    </div>
</div>
@if (User.IsInRole("Expert"))
{
    <div class="col-md-2 control-label">
        @Html.ActionLink("Expert - panel", "Index", "Expert")
    </div>
}

@if (User.IsInRole("Admin"))
{
    <div class="col-md-2 control-label">
        @Html.ActionLink("Admin - panel", "Index", "Admin")
    </div>
}
@if (User.IsInRole("Client"))
{
    <div class="col-md-2 control-label">
        @Html.ActionLink("Client - panel", "Index", "Client")
    </div>
}

<p class="text-success">@ViewBag.StatusMessage</p>

