@model Queue.Models.EditModel
@{
    ViewBag.Title = "Edit";
}

<h2>Редактировать данные профиля</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "")
        <div>
            <p>Email: @Html.EditorFor(model => model.Email)</p>
        </div>
        <div>
            <p>Имя: @Html.EditorFor(model => model.Name)</p>
        </div>
        <div>
            <p>Фамилия: @Html.EditorFor(model => model.LastName)</p>
        </div>
        <div>
            <p>Бан: @Html.EditorFor(model => model.isBaned)</p>
        </div>
        <div>
            <div>
                <input type="submit" value="Сохранить" />
            </div>
        </div>
    </div>
}