@model Queue.Models.EditModel
@{
    ViewBag.Title = "Данные пользователя";
}
<div class="modal-header text-center"><h3> Добро пожаловать @Html.Name(Model.UserName) </h3></div>
<div class="row">
    <div class="col-md-6 text-center">
        <h3>Имя : @Html.Name(Model.Name)</h3>
    </div>

    <div class="col-md-6 text-center">
        <h3>Фамилия : @Html.Name(Model.LastName)</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="height:20px"></div>
</div>
<div class="row">
    <div class="col-md-6 text-center">
        <div>@Html.ActionLink("Редактировать", "Edit", "Manage")</div>
    </div>
    @if(!User.IsInRole("Admin"))
    {
        <div class="col-md-6 text-center">
        <div>@Html.ActionLink("Удалить", "Delete", "Manage")</div>
    </div>
    }
</div>
<p class="text-success">@ViewBag.StatusMessage</p>

