@model Queue.Models.EditModel
@{
    ViewBag.Title = "Index";
}

<h1>E-mail : @Html.Name(Model.Email)</h1>

<h1>User-name : @Html.Name(Model.UserName)</h1>

<h2>Ваша роль : @Html.Name(Model.Role)</h2>

<h2>Ваше имя : @Html.Name(Model.Name)</h2>

<h2>Ваша фамилия : @Html.Name(Model.LastName)</h2>

<h2>Забанены? : @Html.Name(Model.isBaned.ToString())</h2>

<div class="form-group">
    <div class="col-md-2 control-label">
        @Html.ActionLink("Edit", "Edit", "Account")
    </div>
    <div class="col-md-2 control-label">
        @Html.ActionLink("Delete", "Delete", "Account")
    </div>
</div>
<p class="text-success">@ViewBag.StatusMessage</p>

